

  <!-- 
    - #HEADER
  -->
<div class="maincontainer">
  <header id="home" class="header">

    <div class="alert">
      <div class="container">
        <p class="alert-text">Free Shipping Across India on Orders Above ₹299!</p>
      </div>
    </div>

    <div class="header-top" data-header>
      <div class="container">

   

        <a href="#" class="logo">
          <img src="/assets/images/logo.png" width="179" height="26" alt="Glowing">
        </a>


      </div>
    </div>

  </header>



  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero"  aria-label="hero" data-section>
        <div class="container">

          <ul class="has-scrollbar">

            <li class="scrollbar-item">
              <div class="hero-card has-bg-image" style="background-image: url('./assets/images/hero-banner-1.webp' )">

                <div class="card-content1">

                  <h1 class="h1 hero-title">
                    Nearby Finds,<br>
                     Delivered Fast



                  </h1>

                  <p class="hero-text">
                    Sourced from trusted vendors, our products are crafted to meet everyone's needs.
                  </p>

                  <p class="price">Starting at {{99|currency:'INR'}}</p>

                  <a href="#" [routerLink]="['/login']"  class="btn btn-primary">Login</a>

                </div>

              </div>
            </li>

    
            <!-- <li class="scrollbar-item">
              <div class="hero-card has-bg-image" style="background-image: url('./assets/images/hero-banner-3.jpg') ;  object-fit: scale-down ">

                <div class="card-content">

                  <h1 class="h1 hero-title">
                    Reveal The <br>
                    Beauty of Skin
                  </h1>

                  <p class="hero-text">
                    Made using clean, non-toxic ingredients, our products are designed for everyone.
                  </p>

                  <p class="price">Starting at $7.99</p>

                  <a href="#" class="btn btn-primary">Shop Now</a>

                </div>

              </div>
            </li> -->

          </ul>

        </div>
      </section>




     





    </article>
  </main>



  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>

<router-outlet></router-outlet>
</div>