.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action-bar input[type="text"], .action-bar input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #395c3a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #5a370e;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 110px);
    max-width: 500px;
}

.submit-btn {
    background-color: #3e5f3f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #354936;
}

.product-list {
    margin-top: 30px;
}

.product-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item span {
    flex: 1;
    text-align: center;
    font-size: 14px;
}
